# compiled output
/dist
/node_modules
.env
*.png
# /generate/prisma-client-js
/libs/shared/src/seed.ts
# Logs
logs
*.log
/apps/auth/nest-cli.app.json
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*_log*
*.wt
.DS_Store
*.DS_Store

# OS

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/build
/src/mongo/db/modules
/.jsdbshell
/.cache
/.dbshell
/*.ninja
/*.ninja.*
/.ninja_deps
/.ninja_log
/perf.data
/perf.data.old
/massif.out.*
venv

*~
*.swp
*.o
*.os
*.obj
*.aps
*.ilk
*.tar.gz
*.suo
*.ncb
*.idb
*.opt
*.pch
*.jsh
*.jsall
*.pyc
*.exe
*.exp
*.lib
*.pdb
*.manifest
*.user
*.gch
*.*sdf
*.psess
*.tmp
*.eslintcache
*#
.#*

/src/mongo/*/*Debug*/
/src/mongo/*/*/*Debug*/
/src/mongo/*/*Release*/
/src/mongo/*/*/*Release*/
/src/ipch
/src/mongo/*/ipch
/src/mongo/*/*/ipch
/src/mongo/db/.gdb*
/src/mongo/db/makefile.local
/src/mongo/db/_ReSharper.db
/src/third_party/*/*.cache
/src/third_party/*/*.tlog
/src/third_party/*/*.lastbuildstate
/buildscripts/libdeps/graph_visualizer_web_stack/build
/buildscripts/libdeps/graph_visualizer_web_stack/node_modules
libdeps.graphml
build-metrics.json
config.log
settings.py
log_config.py
/tags
TAGS

# temp dirs
dump
/log
docs/html
docs/latex
docs/doxygen
32bit
scratch
/multiversion_binaries

# binaries
/docgen*
/loadgen*
/mongo*
/mongobridge*
/mongocryptd*
/mongod*
/mongoed*
/mongogrid*
/mongokerberos*
/mongoldap*
/mongoperf*
/mongos*
/mongoshim*
/mongosniff*
/mongotmock*
/mongotrafficreader*
/mqlrun*
/wt*
*mongo*

*.tgz
*.zip

#libs
/libmongoclient.*
/libmongotestfiles.*
/libmongoshellfiles.*
/sharedclient
/genny

/emr.jar
*.class

# examples
/firstExample
/secondExample
/whereExample
/bsondemo
/rsExample
/tutorial

#tests
/dbtest
/authTest
/perftest
/clientTest
/httpClientTest
/genny_results

# benchrun files
/benchrun_embedded

# Linters
.mypy_cache

#debian
build-stamp
configure-stamp
debian/mongodb

# OSX files
._.DS_Store
*.fuse_*

# QtCreator
*.config
*.creator
*.creator.user
*.files
*.includes
*.orig

# Eclipse build artifacts
.cproject
.pydevproject
.externalToolBuilders/

# Idea CLion project artifacts
.idea
CMakeLists.txt
!src/third_party/abseil-cpp/**/CMakeLists.txt

# XCode projects
.xcworkspace

# VSCode projects
.vscode/**
!.vscode/linux-virtual-workstation.code-workspace

# Visual Studio projects
.vs/
/x64/

# Windows MSI builder artifacts
*.msi
*.wixobj
*.wixpdb
DriverInclude.wxs

# Gradle
.gradle
src/mongo/embedded/java/build/
src/mongo/embedded/java/aar/build/
src/mongo/embedded/java/jar/build/
local.properties

# clangd language server
.clangd/

compile_commands.json
generated_resmoke_config
selected_tests_config

# Code review tool config
codereview.rc

# Python venvs and virtualenvs
python3-venv
python2-venv

# Generated resmoke configuration file
resmoke.ini

# UndoDB Recordings
*.undo

# Resmoke runtime configuration and trackers.
.resmoke_start_time.yml
.resmoke_mongo_version.yml
.resmoke_mongo_release_values.yml

# libfuzzer artifacts
default.profraw
/corpora
/corpora-merged

# Linter and formatter cache
.mypy_cache/

# RPM build temps
/distsrc.tar
/selinux/tmp
/dst
/rpmbuild
/repo
/rpm/tmp

# antithesis image building assets
/buildscripts/antithesis/base_images/mongo_binaries/dist-test
/buildscripts/antithesis/base_images/workload/src
/buildscripts/antithesis/base_images/workload/mongo
/buildscripts/resmokeconfig/suites/antithesis_*.yml

# generated by gen_all_feature_flag_list.py
all_feature_flags.txt

# generated by clang-tidy buildscripts
clang_tidy_fixes
.clang-tidy

#SCons runtime configuration
scons_env.env

# buildscripts_test by-product
test_success.ninja

# test report generation result
report.json

# suggested resmoke binary location
dist-test/

# node extra stuff (for someone installing eslint)
node_modules/


auth-pgadmin-data/
auth-pgadmin-*

# File with new registered user info for fether steps
saved-data.json
./stop-service.sh 
/stop-service.sh
